{% load basket_tags %}
{% load category_tags %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load static %}

{% load reviews_tags %}
{% load purchase_info_tags %}
{% load image_tags %}


{{ product_tags }}
{% with products_sliced=products|slice:":6" %}
    {% if products_sliced %}
        <div class="sub-header">
            <h2>{% trans 'Products you recently viewed' %}</h2>
        </div>

        <div class="row gy-4">
                {% block products %}
                  {% for product in products %}
                    <!-- Product 1 -->
                    <div class="col-6 col-md-4 col-lg-3" data-aos="fade-up" data-aos-delay="100">
                      <div class="product-card">
                          {% block product_image %}
                        <div class="product-image">
                          {% with image=product.primary_image %}
                              {% oscar_thumbnail image.original "x155" upscale=False as thumb %}
                                  <a href="{{ product.get_absolute_url }}">
                                      <img src="{{ thumb.url }}" alt="{{ product.get_title }}"class="img-fluid default-image" alt="Product" loading="lazy">
                                      <img src="{{ thumb.url }}" class="img-fluid hover-image" alt="Product hover" loading="lazy">
                                  </a>
                          
                          {% endwith %}
                          {% endblock %}
                          <!--<img src="assets/img/product/product-1.webp" class="img-fluid default-image" alt="Product" loading="lazy">
                          <img src="assets/img/product/product-1-variant.webp" class="img-fluid hover-image" alt="Product hover" loading="lazy">
                          <div class="product-tags">
                            <span class="badge bg-accent">New</span>
                          </div>-->
                          <div class="product-actions">
                            <button class="btn-wishlist" type="button" aria-label="Add to wishlist">
                              <i class="bi bi-heart"></i>
                            </button>
                            <button class="btn-quickview" type="button" aria-label="Quick view">
                              <i class="bi bi-eye"></i>
                            </button>
                          </div>
                        </div>
                        <div class="product-info">
                          {% block product_title %}
                          <h3 class="product-title"><a href="{{ product.get_absolute_url }}">{{ product.get_title|truncatewords:4 }}</a></h3>
                          {% endblock %}

                          {% block product_price %}
                          <div class="product-price">
                            {% include "oscar/catalogue/partials/stock_record.html" %}
                          
                          </div>
                          {% endblock %}

                          {% block product_review %}
                          {% iffeature "reviews" %}
                          <div class="product-rating {{ product.rating|as_stars }}">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                            <span class="rating-count">(42)</span>
                          </div>
                          {% endiffeature %}
                          {% endblock %}

                         
                          <form action="{% url 'basket:add' product.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="quantity" value="1">
                            <button type="submit" class="btn btn-add-to-cart">
                                <i class="bi bi-bag-plus me-2"></i>{% trans "Add to Cart" %}
                            </button>
                        </form>
                            
                          

                        </div>
                      </div>
                    </div><!-- End Product 1 -->
                  {% endfor %}
                {% endblock %}             
              </div>
    {% endif %}
{% endwith %}

{% block scripts %}
  <script src="{% static 'oscar/vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}