{% load i18n %}
{% load product_tags %}
{% load static %}

{% block styles %}
  <link href="{% static 'oscar/assets/css/main.css' %}" rel="stylesheet">
{% endblock %}


{% with products_sliced=products|slice:":6" %}
    {% if products_sliced %}
        <div class="sub-header">
            <h2>{% trans 'Products you recently viewed' %}</h2>
        </div>

        <div class="row gy-4">
                {% block products %}
                  {% for product in products %}
                    {% render_product product %}
                  {% endfor %}
                {% endblock %}             
              </div>
    {% endif %}
{% endwith %}
