{% extends "oscar/catalogue/browse.html" %}

{% load i18n %}

{% block title %}
    {{ category.get_meta_title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ category.get_meta_description }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ homepage_url }}">{% trans "Home" %}</a></li>
            {% for ancestor in category.get_ancestors %}
                <li class="breadcrumb-item"><a href="{{ ancestor.get_absolute_url }}">{{ ancestor.name }}</a></li>
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block shop_head %}
    <div class="shop-head">
        <h1>
            {{ category.name }}
            {% if user.is_staff %}
                <a class="ms-2 small" href="{% url 'dashboard:catalogue-category-update' pk=category.id %}">
                    <i class="bi bi-pencil"></i>
                </a>
            {% endif %}
        </h1>
        {% if category.description %}
            <p>{{ category.description|safe }}</p>
        {% endif %}
    </div>
{% endblock %}
